.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    margin-left: 0px;
    margin-top: 5px;
}
.box {
    width: 20px;
    height: 20px;
    background-color: red;
}

button {
    margin-right: 5px;
}
label, input {
    margin-bottom: 5px;
    margin-top: 5px;
}
.labels {
    margin-left: 10px;
}

